---
import Timeline from "@/components/features/home/approach-timeline";
import SectionTitle from "@/components/ui/section-title.astro";
import Section from "@/components/ui/section.astro";

---
<Section>
  <div class="text-center">
    <SectionTitle eyebrow="Notre approche">
      Une approche au service de votre image.
    </SectionTitle>
  </div>
  <Timeline/>
</Section>