---
import ServicesSection from '@/components/features/home/services-section.astro';
import Layout from '../layouts/layout.astro';
import Hero from '@/components/features/home/hero-section.astro';
import Realisations from '@/components/features/home/realisations.astro';
import Devis from '@/components/features/home/devis.astro';
---

<Layout>
  <main>
    <Hero/>
    <ServicesSection/>
    <Realisations/>
    <Devis/>
  </main>
</Layout>
